<!DOCTYPE html>

<html>
  <head>
  </head>

  <body>
    <h1>New project</h1>

    <form method="POST" action="/project">
      <label for="name">Name</label>
      <input type="text" name="name" id="project_name" /><br />
      <label for="locales_root">Locale root</label>
      <input type="text" name="name" id="project_locales_root" placeholder="/path/to/project/locale" /><br />
      <label for="default_locale">Default locale</label>
      <input type="text" name="default_locale" id="project_default_locale" placeholder="en"/><br />
      <input type="submit" />
    </form>

  </body>
</html>
